/*css for navigate.tsx*/

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.map-container {
  height: 100vh; /* Set an appropriate height for the map */
  width: 100%; /* Set an appropriate width for the map */
}
